* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.panel {
  background-color: #bdbdbd;

  .header {
    width: 100%;
    height: 30px;
    padding: 1px 3px;
    position: absolute;
    left: 0;
    top: 0;
    background-color: #212121;
    color: #fff;
    border-top: solid 1px #eee;
    border-bottom: solid 1px #eee;
  }

  .main {
    width: 100%;
    height: calc(100% - 60px);
    position: absolute;
    left: 0;
    top: 30px;
  }

  .scroll {
    overflow-y: scroll;
  }

  .footer {
    width: 100%;
    height: 30px;
    position: absolute;
    left: 0;
    bottom: 0;
    background-color: #757575;

    .button {
      width: 24px;
      height: 24px;
      position: absolute;
      top: 3px;
      background-color: #fefefe;
      border: solid 1px #636363;
      border-radius: 5px;

      img {
        width: 20px;
        height: 20px;
        position: absolute;
        left: 1px;
        top: 1px;
      }

      &:hover {
        cursor: pointer;
      }
    }
  }
}
